body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    justify-content: flex-start;
}

input{
    width: 75%;
    margin-bottom: 15px;
}

.move{
    display: inline-flex;
    flex-direction: row;
}

input[type="submit"], input[type="reset"]{
    width: 100px;
}

.move input:last-child{
    margin-left: 10px;
}